// Colors ====================================================================================================

$ColorRed: #FF0000;
$ColorBlack: #000000;
$ColorDarkGray: #333333;
$ColorMaroon: #800000;
