@import "src/styles/style";

.header {
  transition: all 0.3s ease 0s;
  position: fixed;
  padding: rem(20);
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $ColorBlack;
    box-shadow: 12px 12px 2px 1px $ColorBlack;
  }
}
